body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
header, footer{
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 20px;
}

main{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 0px;
}
.conversor input, .conversor button {
  display: block;
  width: 200px;
  margin: 10px auto;
}
button{
    background-color: #333;
    text-align: center;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px ;
    width: 250px;
}
form div {
    border-radius: 5px color #fff;
    margin-bottom: 15px;


}
form input{
    width : 150px

}
.conversor{
    background-color: #fff;
    border: 1px solid color whitesmoke;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px; 
    padding: 15px 80px 15px 80px;
}
